data/imagenette2
data/ade20k
output/*
.claude
.vscode
checkpoints/*

*.pyc
*.pth
*.pyd

dinov3/eval/segmentation/models/utils/ops/MultiScaleDeformableAttention.egg-info
dinov3/eval/segmentation/models/utils/ops/build
